/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #444444;
    color: #ffffff;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #222222;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form-control {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #ffffff;

}

.btn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.panel-footer {
    text-align: center;
    margin-top: 1.5rem;
    color: #ffffff;
}

a {
    color: #9cf09f;
}

input[type=range] {
    width: 100%;
    height: 20px;
    appearance: none;
    margin-top: 1.5rem;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #347197;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9cf09f;
    cursor: pointer;
}